.becomeAPartner {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: -1;
  }

  &__becomeAPartnerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--max-width);
    margin: 0 auto;
    gap: 30px;
    text-align: center;

    &__subtitle {
      font-family: var(--font-releway);
      font-size: 24px;
      font-weight: 600;
    }

    &__title {
      font-family: var(--font-releway);
      text-transform: uppercase;
      font-weight: 600;
      font-size: 32px;
      color: var(--primary-color);
    }

    &__description {
      font-family: var(--font-poppins);
      font-size: 14px;
      width: 60%;
    }

    &__buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 19px;

      a {
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        padding: 9px 23px;
        border: 2px solid var(--primary-color);
        border-radius: 30px;
      }

      &__buttonVolunteer {
        background-color: var(--primary-color);
        color: var(--white);
      }

      &__buttonDonate {
        color: var(--primary-color);
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .becomeAPartner {
    &__becomeAPartnerContent {
      padding: 0 16px;

      &__description {
        width: 80%;
      }
    }
  }
}

@media screen and (max-width: 435px) {
  .becomeAPartner {
    &__becomeAPartnerContent {
      &__description {
        width: 95%;
      }
    }
  }
}
