.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: 24px auto;
  width: 100%;

  &__Logo {
    width: 235px;
  }

  &__Info {
    display: flex;
    gap: 35px;

    h3 {
      font-size: 13px;
      font-weight: 500;
      text-transform: uppercase;
    }

    a {
      display: flex;
    }
    
    &__Icon {
      width: 60px;
      height: auto;
    }
    
    &__Email {
      display: flex;
      gap: 15px;

      
      &__Text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 3.78px;

        a {
          color: var(--light-grey);
          font-size: 13px;
        }
      }
    }

    &__Phone {
      display: flex;
      gap: 15px;

      &__Text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 4.7px;

        a {
          font-size: 18px;
        }
      }
    }

    &__Donate {
      &__Button {
        cursor: pointer;
        background-color: var(--primary-color);
        padding: 14px 37px;
        border: none;
        border-radius: 30px;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: 933px) {
  .Header {
    padding: 0 6px;
    
    &__Logo {
      width: 150px;
    }

    &__Info {
      gap: 15px;
    }
  }
}

@media screen and (max-width: 820px) {
  .Header {
    &__Info {
      &__Email {
        &__Text {
          display: none;
        }
      }

      &__Phone {
        &__Text {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .Header {
    margin: 8px auto 0;
    &__Info {
      display: none;
    }
  }
}