.NavBar {
  background-color: var(--dark-grey);
  border-bottom: 4px solid var(--primary-color);

  &__List {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 23px 0;
    max-width: var(--max-width);
    justify-content: space-around;

    &__Item {
      text-transform: uppercase;
      color: var(--white);
      font-weight: 400;
    }
  }
}