.Footer {
  background-color: var(--dark-grey);

  &__Container {
    display: flex;
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    padding: 90px 0 96px;
    color: var(--white);
    font-size: 13px;

    &__Info {
      display: flex;
      flex-direction: column;
      width: 33%;
      gap: 20px;

      &__Logo {
        width: 200px;
      }

      &__List {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &__Item {
          a {
            display: flex;
            align-items: center;
            gap: 10px;

            span:hover {
              color: var(--primary-color);
            }

            img {
              width: 18px;
            }
          }
        }
      }
    }

    &__Navigation {
      display: flex;
      flex-direction: column;
      width: 33%;
      gap: 24px;

      nav {
        border: none;
        width: fit-content;
        
        ul {
          gap: 18px;
          align-items: start;
          width: fit-content;
          padding: 0;
          flex-direction: column;
          
          li {
            text-transform: none;
            font-weight: 300;
            font-size: 16px;
          }
        }
      }
    }

    &__Social {
      display: flex;
      flex-direction: column;
      width: 33%;
    }
  }
}
