.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 2em;
  padding-top: 2em;
}

.Header {
  &__Logo {
    height: 13rem;
    width: auto;
  }
}

.Main,
.Footer {
  width: 80%;
}

.Main {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .Section {
    &__Title {
      margin: 0 0 16px;
    }
    &__Description {
      margin: 0;
      &__List {
        display: flex;
        flex-direction: column;
      }

      &__Pix:active {
        color: green;
      }
    }
  }

  .Donate {
    &__Title {
      margin: 0 0 16px;
    }
    &__Description {
      &__List {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0;

        &__CallToAction {
          text-transform: uppercase;
          font-weight: 500;
        }
      }

      &__ButtonList {
        padding: 0;
        display: flex;
        justify-content: space-around;
        gap: 0.5rem;

        li {
          button {
            height: 56px;
            padding: 0 24px;
            font-size: 1em;

            font-weight: 500;
            border-radius: 8px;
            background-color: #7dc8e5;
            border: 1.5px solid black;
          }

          button:active {
            background-color: #0a6e9b;
            color: var(--color-white);
          }
        }
      }

      &__Pix {
        cursor: pointer;

        &__Copied {
          color: var(--color-black);
          background-color: rgba($color: green, $alpha: 0.6);
          border: 1px solid green;
          border-radius: 8px;
          width: 90%;
          font-weight: 400;
          font-size: 0.8rem;
          margin: auto;
          padding: 0.8em;
          text-align: center;
        }
      }
    }
  }
}

.Footer {
  width: 100%;

  &__Social {
    width: 80%;
    margin: auto;
    &__Title {
      display: inline-block;
    }

    &__SocialLinks {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 2rem;
    }
  }

  &__SocialLink {
    display: flex;
    gap: 0.8rem;
    align-items: center;

    span {
      font-size: 1rem;
      font-weight: 400;
    }

    &__SocialIcon {
      height: 50px;
    }
  }

  &__Location {
      width: 80%;
      margin: auto;
    iframe {
      width: 100%;
      height: 500px;
    }
  }

  &__Credits {
    margin-top: 2em;
    padding: 1em 0;
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;

    a {
      color: #22D4FD;
    }
  }
}

@media screen and (max-width: 768px) {
  .Donate {
    &__Description {
      &__ButtonList {
        button {
          height: 48px;
          padding: 0 16px;
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .Header {
    &__Logo {
      height: 10rem;
      width: auto;
    }
  }

  .Donate {
    &__Description {
      &__ButtonList {
        flex-direction: column;
        gap: 0.5rem;

        li {
          width: 90%;
          margin: auto;

          button {
            width: 100%;
            margin: auto;
            height: 32px;
            font-size: 12px;
            border-radius: 16px;
            background-color: aqua;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 485px) {
  .Main {
    width: 94%;
  }

  .Footer {
    &__Social {
      width: 94%;
      gap: 0.5rem;
      span {
        display: none;
      }
    }
    &__Location {
      width: 94%;
      margin: auto;
      iframe {
        height: 250px;
      }
    }
  }
}
