.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98vw;
  margin: auto;
  padding: 2em 0;
  gap: 2em;
}

.Header {
  &__Logo {
    height: 13rem;
    width: auto;
  }
}

.Main, .Footer {
  width: 80%;
}
