@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: var(--font-family);
  box-sizing: border-box;
  list-style: none;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

:root {
  font-synthesis: none;
  
  --max-width: 1180px;
  
  --font-family: 'Roboto', sans-serif;
  --font-releway: 'Raleway', sans-serif;
  --h1-size: 2.5rem;
  --h2-size: 2rem;
  --h3-size: 1.75rem;
  --h4-size: 1.5rem;
  --h5-size: 1.25rem;
  --h6-size: 1rem;

  --primary-color: #7DC8E5;
  --white: #FFFFFF;
  --color-black: #000000;
  --dark-grey: #262F36;
  --light-grey: #B6B6B6;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

